<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {% if page.custom_title %}
        {{ page.custom_title }}
    {% else %}
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    {% endif %}
    </title>

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.excerpt %}{% if page.content contains '<!-- more -->' %}{{ page.excerpt|strip_html|trim }}{% endif %}{% else %}{{ site.description }}{% endif %}">

    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/lambda.css" | prepend: site.baseurl }}?v2.1">


</head>
