<header id="main-header">
  <div id="site-title">
    <!-- <img src="/images/lambda.png" alt="Lambda"> -->
    <a href="/">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages %}
    {% if page.title and page.permalink != "/404.html" %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}

   <!-- <a href="/blog" class="page-link{% if current == null %} active{% endif %}">Blog</a> -->

  <a href="http://github.com/animeshtrivedi"
    target="_blank"
    class="page-link github-link">
    <img src="/images/github-repo.png" alt="">
    GitHub</a>
  </div>
</header>
