<div class="entry">

	<div class="entry-content">

	<article class="entry-body">
	  <header>
	    <!-- <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1> -->
			<p class="entry-meta"> <small> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}</small> </p>
	  </header>

		{% if index %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% else %}
	  		{{ content }}
  		{% endif %}
    </article>
  </div>
</div>
<hr>

